.helloInput {
  width: 200px;
}

.title {
  color: black;
}
.mainText {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-footer {
  background-color: #5b64e0;
}
main {
  flex: 1 0 auto;
}
