.helloInput {
  width: 200px;
}

.title {
  color: black;
  font-weight: bold;
  font-family: cursive;
}
.mainText {
  color: black;
}
p{
  color:black;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-footer {
  background-color: #5b64e0;
  padding: 15px;
}
main {
  flex: 1 0 auto;
}
.twitter-logo {
  max-height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-bottom: -15px;
  padding: 15%;
  overflow: hidden;
}

.navClass {
  height: 75;
}

.card-image {
  min-width:200px;
  min-height: 200px;
  max-width: 300px !important;
  max-height: 200px !important;
  display:flex;
  align-items:center;
  justify-content:center;
}

.profile-pic {
  max-height: 350px;
  max-width: 350px;
  clip-path: circle();
}

.profile-info {
  font-weight: bold;
}

.Recipe-img {  
  min-width:200px;
  min-height: 200px;
  max-width: 300px !important;
  max-height: 200px !important;
  display:flex;
  align-items:center;
  justify-content:center;
}

.card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  color: inherit;
}
.card-alert a{
  color: inherit;
  font-weight: 500;
}
.card-alert a:hover{
  color: inherit;
  text-decoration: underline;
}

.chatPopUp {
  left: 23px;
  width: max-content;
}

.fixed-action-btn {
  bottom: 70px;
}